<div class="container">

  <div class="container-top">
    <img class="banner" src="./assets/images/banner.jpg">
    <div class="container-logo">
      <img class="logo" src="./assets/images/full-time-force.jpg">
      <span>Take-Home Test</span>
    </div>
  </div>
  <div class="container-mid">
    <span class="title">Account Information</span>
    <table id="customers">
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Public Repos</th>
      </tr>
      <tr>
        <td>Asdrubal Oviedo</td>
        <td>https://api.github.com/users/asdrubaloviedo</td>
        <td>3</td>
      </tr>
    </table>
  </div>
  <div class="container-mid last">
    <span class="title">Git History</span>
    <table id="customers">
      <tr>
        <th>Author</th>
        <th>Date</th>
        <th>Message</th>
      </tr>
      <tr>
        <td>Asdrubal Oviedo</td>
        <td>2022-05-08T19:36:10Z</td>
        <td>commit data formatting</td>
      </tr>
      <tr>
        <td>Asdrubal Oviedo</td>
        <td>2022-05-08T19:36:10Z</td>
        <td>capi tap data</td>
      </tr>
      <tr>
        <td>Asdrubal Oviedo</td>
        <td>2022-05-08T19:36:10Z</td>
        <td>profile object fix</td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
